{% extends 'layout.twig' %}

{% block body %}
  <article class="main-page article_content">
    <section class="main-page__text-container">
      {% for post in posts %}
        <h2>{{ post.title }}</h2>
        <p>
          {{ post.body }}
        </p>
      {% endfor %}
    </section>
  </article>
{% endblock %}