{% extends 'layout.twig' %}

{% block body %}
  <article class="main-page article_content">
    <section class="main-page__text-container">
      <h2>{{ title }}</h2>
      <p>
        Скоро доделаю и выложу. <a href="/">Назад</a>
      </p>
    </section>
  </article>
{% endblock %}