{% extends 'layout.twig' %}

{% block body %}
    <form class="js-create-post" name="myForm">
      <input type="text" name="title" style="display: block; width: 200px; margin-bottom: 20px">
      <textarea name="body" id="" cols="30" rows="10" style="display: block; width: 100%; margin-bottom: 20px"></textarea>
      <input type="submit" style="display: block; width: 200px; margin-bottom: 20px">
    </form>
{% endblock %}