{% extends 'layout.twig' %}

{% block body %}
  <form name="myForm" action="/blog/edit/{{ post._id }}" method="post">
    <input type="text" name="title" style="display: block; width: 200px; margin-bottom: 20px" value="{{ post.title }}">
    <textarea name="body" id="" cols="30" rows="10"
              style="display: block; width: 100%; margin-bottom: 20px">{{ post.body }}</textarea>
    <input type="submit" style="display: block; width: 200px; margin-bottom: 20px">
  </form>
  <a class="js-delete" href="/blog/delete/{{ post._id }}">Удалить</a>

  <script>
    document.querySelector('.js-delete').addEventListener('click', e => {
      e.preventDefault();
      if (confirm("Сносим пост?")) {
        window.location.replace(e.currentTarget.href)
      }
    });
  </script>
{% endblock %}