{% extends 'layout.twig' %}
{% set class = 'index' %}
{% block body %}
  <article class="main-page article_content">
    <img src="/img/avatar.jpg" class="main-page__avatar" alt="Фото">
    <section class="main-page__text-container">
      <h2>{{ title }}</h2>
      <p>
        Фронт-энд разработчик. Пишу в <a href="/blog" class="link">блог</a> всякое по музыке и вебу.
        Работаю в <a href="http://codecode.ru/" class="link" target="_blank">Кодельной</a>.
        Играю в <a href="https://vk.com/drawmysoul" class="link" target="_blank">Draw my Soul</a>.
      </p>
    </section>
  </article>
{% endblock %}

{% block scripts %}
  <script src="/js/three/three.min.js"></script>
  <script src="/js/three/CanvasRenderer.js"></script>
  <script src="/js/three/Projector.js"></script>
  <script src="/js/three/particles.js"></script>

{% endblock %}
