{% extends 'layout.twig' %}

{% block body %}
  <article class="main-page article_content">
    <img src="/img/avatar.jpg" class="main-page__avatar" alt="">
    <section class="main-page__text-container">
      <h2>{{ title }}</h2>
      <p>
        Фронт-энд разработчик. Пишу в <a href="/blog">блог</a> всякое по музыке и вебу.
        Работаю в <a href="http://codecode.ru/">Кодельной</a>.
        Играю в <a href="https://vk.com/drawmysoul">Draw my Soul</a>.
      </p>
    </section>
  </article>
{% endblock %}