{% extends 'layout.twig' %}

{% block body %}
  <div class="article_content">
    <h2>{{ title }}</h2>
    <p>
      If you know me you would have known that I started learning about the web without having gone through any
      computing courses in university previously. I didn’t dare to venture into server-side programming for a long time
      because of my background.
    </p>
    <p>
      I remember when I eventually picked up the courage to try, I had such a hard time understanding the documentations
      for Express, MongDB and Node that I gave up.
    </p>
  </div>
{% endblock %}
