{% extends 'layout.twig' %}
{% set class = 'index' %}
{% block body %}
  <article class="main-page article_content">
    <img src="/img/avatar.jpg" class="main-page__avatar" alt="Фото">
    <section class="main-page__text-container">
      <h2>{{ title }}</h2>
      <p>
        Фронт-энд разработчик.
        Играю в <a href="https://vk.com/drawmysoul" class="link" target="_blank">Draw my Soul</a>.
        <a href="https://hh.ru/resume/0d88d4d4ff01f3c2b60039ed1f544762396c50" target="_blank" class="link">Ссылка на резюме</a>
      </p>
    </section>
  </article>
{% endblock %}

{% block scripts %}
  <script src="/js/three/three.min.js"></script>
  <script src="/js/three/CanvasRenderer.js"></script>
  <script src="/js/three/Projector.js"></script>
  <script src="/js/three/particles.js"></script>

{% endblock %}
